* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

main { /* substract the padding from the width */
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0; 
    background-color: #60a5fa; /* new background color to the main */
}

.menu {
    padding: 10px;
    max-width: 300px;
    background-color: #60a5fa;
}
.menu>div {
    display: grid;
    grid-template-columns: 40px 30px;
    gap: 10px;
    align-items: center;
}

.menu>div>svg {
    width: 50px;
}

.menu svg {
    width: 20px;
}

.menu h1 {
    color: white;
}


.menu nav {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 10px;

}

.menu nav ul {
    display: grid;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.menu nav ul li {
    list-style: none;
    display: grid;
    grid-template-columns: 30px 30px;
    gap: 10px;
}

.menu nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 700;


}
header {
    padding: 10px;
    background-color: #ffffff; /* new background color to the header */
    
}

header svg {
    width: 7%;
    max-width: 30px;
}

header .search {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

header .search div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


header .search div input {
    width: 100%;
    border: none;
    background-color: #f1f5f9;
    border-radius: 10px;
    outline: none;
    padding: 6px;
}

header .search div img {
    width: 50px;
    height: 50px;
}

header .profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.profile > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile > div img {
    width: 70px;
    height: 70px;
}

.share-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.share-buttons button {
    text-transform: capitalize;
    padding: 8px 20px;
    border: none;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    background-color: #3b82f6;
    color: white;
}

.tasks {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    gap: 10px;
    background-color: #f1f5f9 ;
    padding: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 0px 3px 1px; /* box shadow */
}

.tasks .projects .project-grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
    margin-top: 10px;
}

.project-grid>div {
    display: grid;
    justify-content: center;
    align-items: center;
    border-left: 5px solid #eab308;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    min-height: 200px;
    min-width: 300px;

}

.project-grid>div p {
    font-size: 15px;
    color: rgb(85, 85, 85);
}

.project-grid>div>div {
    margin: auto;
    text-align: right;
}

.project-grid svg {
    width: 10%;
    max-width: 50px;
    margin: 10px;
    cursor: pointer;
}

.announcements .announcement-grid {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.announcement-grid div {
    margin: 10px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;

}

.announcement-grid div p {
    font-size: 13px;
    color: rgb(85, 85, 85);
}

.trending-grid {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;

}

.trending-grid div {
    display: flex;
    margin-bottom: 10px;
    gap: 5px;
}

.trending-grid>div>div {
    display: grid;
    grid-column: auto;
}

.trending-grid p {
    font-size: 13px;
    color: rgb(85, 85, 85);
}

.trending-grid img {
    width: 50px;
    height: 50px
}




